/*General shape and size of cell*/
.cell {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.75rem;
  position: relative;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(149, 219, 243);
}

/*For header cells*/
.cell.header {
  font-size: 1.5rem;
  border-color: transparent;
  background-color: transparent;
}
