.cell {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.75rem;
  border: 1px solid white;
  position: relative;
}

.cell.header {
  font-size: 1.5rem;
  border-color: transparent;
}

.cell:not(.header):not(.discovered) {
  opacity: 0.8;
  background-color: rgb(149, 219, 243);
}

.cell:not(.header).hovered--valid {
  opacity: 1;
  cursor: pointer;
  background-color: rgb(73, 245, 130);
}

.cell:not(.header).hovered--invalid {
  opacity: 1;
  cursor: not-allowed;
  background-color: rgb(248, 83, 83);
}

.cell:not(.header).occupied {
  cursor: not-allowed;
  background-color: rgb(138, 228, 138);
}

.cell:not(.header).occupied.hovered--invalid {
  cursor: not-allowed;
  background-color: rgba(193, 156, 111, 0.5);
}

.discovered.miss {
  background-color: rgb(255, 255, 255);
}

.occupied.discovered.hit {
  background-color: rgb(255, 0, 0);
}

.occupied.discovered.sunk {
  background-color: rgba(255, 44, 44, 0.329);
}
