.cell {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.75rem;
  border: 1px solid white;
}

.header {
  font-size: 1.5rem;
  border-color: transparent;
}

.hovered {
  cursor: pointer;
  background-color: rgb(73, 245, 130);
}
.hovered--invalid {
  cursor: not-allowed;
  background-color: rgb(248, 83, 83);
}

.occupied {
  cursor: default;
  background-color: rgb(138, 228, 138);
}

.occupied.hovered--invalid {
  cursor: not-allowed;
  background-color: rgb(138, 228, 138);
}
