.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(191, 191, 191);
  user-select: none;
}

h2 {
  font-size: 2rem;
}

h3 {
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: nowrap;
  margin: 0;
}

.boards-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Opponent's board (left) */
.opponent-board {
  margin-right: 10px;
}

.opponent-board:not(.player-turn) {
  cursor: not-allowed;
}

.opponent-board.player-turn .board .cell:not(.header):not(.discovered) {
  cursor: pointer;
}

.opponent-board.player-turn .board .cell:not(.header):not(.discovered):hover {
  background-color: rgb(109, 205, 237);
}

/* Player's board (right) */
.player-board > div {
  opacity: 0.55;
}

.player-board .occupied {
  background-color: rgb(138, 228, 138);
}

/* For both boards*/
.discovered.miss {
  background-color: rgb(255, 255, 255);
}

.discovered.hit {
  background-color: rgb(255, 0, 0);
}

.discovered.sunk {
  background-color: rgba(255, 44, 44, 0.329);
}

/*Restart button*/
.restart-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 20px;
}

.restart-btn {
  background-color: rgb(250, 204, 204);
  border: none;
  transition: 0.2s;
}

.restart-btn:hover {
  background-color: rgb(152, 50, 50);
}

.restart-btn:focus {
  outline: none;
}

.player-board .ai-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  /*Remove the "unclickable" display effect on the player's board.*/
  opacity: 1;
}

.discover-outcome-msg {
  height: 2rem;

  /*Remove the "unclickable" display effect on the player's board.*/
  opacity: 1;
}

.ai-animation {
  width: 1.5rem;
  height: auto;
}
