.mainpage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.title {
  color: #333;
  font-size: 4.5rem;
}

.main-page-btn {
  margin-top: 1.7rem;
  font-size: 2rem;
}

.main-page-btn:not(:disabled):hover {
  background-color: rgba(51, 51, 68, 0.1);
  transform: translateY(-10px);
  opacity: 1;
}

.name-input {
  width: 50%;
  padding: 1.2rem 1.5rem;
  margin: 2rem 2rem 0.5rem;

  border: none;
  border-radius: 5px;

  outline: none;
  box-shadow: 0 2px 5px rgba(51, 51, 68, 0.15);
  background-color: rgb(240, 240, 240);

  text-align: center;
  font-size: 1.2rem;

  transition: background-color 0.3s ease, box-shadow 0.2s ease, transform 0.2s ease;
}

.name-input.input-error:focus {
  box-shadow: 0 5px 10px rgba(230, 57, 70, 0.4);
  transform: translateY(-2px);
}

.name-input:focus {
  box-shadow: 0 5px 10px rgba(51, 51, 68, 0.4);
  transform: translateY(-2px);
}

.name-input:focus::placeholder {
  color: transparent;
}

.input-error-message {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(230, 57, 70);

  /*From Animate.css*/
  animation: fadeInUp;
  animation-duration: 200ms; /* don't forget to set a duration! */
}
