.pregame {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.pregame-board {
  cursor: default;
}

.pregame-board .cell:not(.header).occupied {
  background-color: rgb(29, 53, 87);
}

.pregame-board .cell:not(.header).hovered--valid {
  cursor: pointer;
  background-color: rgb(73, 245, 130);
}

.pregame-board .cell:not(.header).hovered--invalid {
  cursor: not-allowed;
  background-color: rgb(248, 83, 83);
}

.pregame-board .cell:not(.header).occupied.hovered--invalid {
  cursor: not-allowed;
  background-color: rgba(139, 68, 85, 0.8);
}
