.ship-placement {
  display: flex;
  background-color: blanchedalmond;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid black;
  position: "relative";
}
.ships {
  display: grid;
  width: auto;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  gap: 0.5rem;
}

.start-game {
  background-color: rgb(174, 255, 152, 1);
  height: 3em;
  font-size: 1em;
}

.start-game:disabled {
  cursor: not-allowed;
  border: none;
}
