.ship-cell {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.75rem;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(29, 53, 87);
  display: inline-block;
}

.ship:hover .ship-cell {
  background-color: rgba(29, 53, 87, 0.8);
}

.ship {
  cursor: pointer;
}

.ship-cell--vertical .ship-cell {
  display: block;
}

.ship-disabled-overlay {
  opacity: 0.5;
  display: unset;
}

.ship-disabled-overlay--hide {
  display: none;
}
