.ship-placement {
  display: flex;
  background-color: rgba(221, 221, 243, 0.7);
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  margin-top: 1rem;
  padding: 1rem;
  position: "relative";
  user-select: none;
}

.ships {
  display: grid;
  width: auto;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  gap: 0.5rem;
}
